$white: #ffffff;
$gray: #27272a;

/*
    Color palette from: https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a
*/

$dark: #000814;
$primary-dark: #001d3d;
$primary: #003566;
$accent-color: #ffc300;
$accent-color-light: #ffd60a;
