@import '@/shared/styles/colors.scss';

.button-link {
  display: flex;
  align-items: center;

  gap: 0.75rem;
  padding: 0.75rem 1rem;

  border-radius: 10px;
  border: 1px solid $gray;

  transition: background-color 0.15s;

  &:hover {
    background-color: $gray;
  }
}
