@import '@/shared/styles/mixins.scss';

.home {
  @include page-container;

  &__title {
    @include page-title;
  }

  &__description {
    @include page-description;
  }

  &__solution-links {
    display: flex;
    flex-direction: column;

    gap: 0.75rem;
  }
}
