.excercise2 {
  width: 100%;

  padding: 4rem 8rem;

  display: flex;
  flex-direction: column;

  align-items: center;

  &__title {
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 3rem;
  }

  &__solution-links {
    display: flex;
    flex-direction: column;

    gap: 0.75rem;
  }
}
